body {
  font-family: Arial, sans-serif;
  margin: 20px;
  line-height: 1.6;
  background-color: #f3f8ff;
}

h1 {
  margin-bottom: 20px;
  text-align: center;
}

#product-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  justify-content: center;
}

#product-name,
#product-price {
  padding: 5px;
}

add-product {
  padding: 5px 10px;
  cursor: pointer;
}

#cart {
  list-style: none;
  padding: 0;
  max-width: 600px;
  margin: auto;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.cart-item span {
  flex: 1;
}
.quantity-input {
  width: 60px;
  margin: 0 10px;
}

.cart-item button {
  margin-left: 10px;
  cursor: pointer;
}

h3 {
  text-align: center;
}